*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
 body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 .sfondo{
     
     height:500px;
     background:url("../img/jumbo.png") no-repeat;
     background-size:cover;
     
 }

 .container{
    width: 1200px;
    margin: 0 auto;
 }

 .navigation{
    height:50px;
    width: 100%;
    line-height: 50px;
    position: relative;
    top:30px;
   
 }
 .logo,.lista-navigazione,.button.small {
    display: inline-block;
   
}

 .lista-navigazione{
     position:absolute;
     left: 30%;
     top:10px;
 }

 .lista-navigazione ul{
     list-style: none;
 }

 .lista-navigazione ul li{
     display: inline-block;
 }

 .lista-navigazione ul li a{
     color: white;
     text-decoration: none;
     padding: 0 20px
 }

 button{
    border-radius: 20px;
    border: 0; 
    
 }

 button.small{
     position: absolute;
     right:0;
     height: 35px; 
     padding: 0 15px; 
     font-size: 15px;
 }


 .contenitore-jumbo{
     width: 100%;
     text-align:center;
     margin-top: 100px;
 }



 .jumbo-title{
     color:white;
     font-size: 50px;
     word-spacing: 5px;
     
 }

 .paragrafo.uno{
     margin-top:50px;
 }

 .paragrafo.uno>p{
     color: white;
     word-spacing: 5px;
     font-size: 20px;
     margin-bottom: 5px;
 }
 .jumbo-buttons{
     height: 500px;
     margin-top: 30px;
     position: relative;
 }

 .button.mac{
     background-color: white;
     position: absolute;
     font-size: 16px;
     padding:0 16px;
     height:40px ;
     left:35%;

 }

 .button.mac>span{
     font-size:18px;
 }
 .button.browser{
    background-color: black;
    color: white;
    position: absolute;
    font-size: 16px;
    padding:0 16px;
    height:40px ;
    right:30%;

}
